<!DOCTYPE HTML>
<html lang="en">
  <head>
  	<meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="@root_path/public/favicon.ico"/>
    <title>Digital Hallway if @title do : @title endif</title>
    <link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
    <link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen">
    <script type="text/javascript">directory_root = "@root_path"; </script> 
    <script type="text/javascript" src="@root_path/public/docs/js/dddropdownpanel.js">

/***********************************************
* DD Drop Down Panel- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>
    <!--[if lt IE 9]>
	<script src="@root_path/public/docs/js/html5shiv.js"></script>
	<![endif]-->
  </head>
    <body class="if @theme do @theme endif if !@theme do neutral endif">
		<div class= "container"> <!--begin page container-->
			<div id="mypanel" class="ddpanel">
				<div id="mypanelcontent" class="ddpanelcontent">
				<div class= "neutral">
				<p>The brief these projects were based on was to create a "21st Century Barometer": a household 
				appliance that supplies useful information from the internet on a daily basis. The projects were based
				on two sources of inspiration we looked at during the course:  
				</div>
				<div class= "amar">
					<p>We had an amazing visit from the entrepreneur Amar Latif. Amar, who is blind, mentioned how 
					being able to tell what the weather is like outside is something he would find useful. Since these are 
					closer to a traditional barometer, we decided to call them Amar's Barometers. They're marked with a blue background.</p>
				</div>
				<div class= "busy-families">
					<p>We also looked at research done by students from DJCAD's Master of Design Ethnography in partnership with NCR. 
					They looked at how creative families in the cities of Shanghai, Paris and New York live, and how design can help improve 
					their lives. They're marked with a brown background. </p>
				</div>
				</div>
				<!--
			<div id="mypaneltab" class="ddpaneltab">
				<a href="#"><span>Toggle</span></a>
			</div>
			-->
		</div>